# Git
.git/

# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Node
node_modules/

# Secrets
.env

# Harbor
dist.tar.gz

echo "jobs/" >> ~/Documents/projects/micro1/python_to_rust_filesystem_delta/.gitignore
git -C ~/Documents/projects/micro1/python_to_rust_filesystem_delta add .gitignore
git -C ~/Documents/projects/micro1/python_to_rust_filesystem_delta commit -m "add jobs/ to gitignore"
git -C ~/Documents/projects/micro1/python_to_rust_filesystem_delta push
